.services {
  text-align: center;
  padding: 2rem;
  background-color: #f9f9ff;
}

.services-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
}


.services-cards {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.service-card {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  width: 250px;
  transition: all 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-10px);
  border: 1px solid #6c63ff;
}

.service-icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #6c63ff;
}

.service-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.service-description {
  font-size: 0.9rem;
  color: #666;
}


.pagination {
  margin-top: 2rem;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
}

.dot.active {
  background-color: #6c63ff;
}
